@page "/"

@inject NavigationManager _navigationManager

<div class="showElement customLoadingIcon" id="LoadingIcon">
    <img style="zoom: 30%;" src="images/loading.gif" />
</div>
<div class="modal dxbs-modal customModal"></div>