@page "/ForgotPasswordConfirmation"
@inject IStringLocalizer<Resource> _localizer
@layout LoginLayout

<link href="css/logincss.css" rel="stylesheet" />
<div class="container">
    <main role="main" class="pb-3">
        <div class="login-div">
            <div class="login-container">
                <div class="login-content">

                    <h1>@_localizer[LangKey.MSG_FORGOT_PASSWORD_CONFIRMATION]</h1>
                    <p>
                        @_localizer[LangKey.MSG_PLEASE_CHECK_YOUR_EMAIL_TO_RESET_YOUR_PASSWORD]
                    </p>
                </div>
            </div>
        </div>
    </main>
</div>