@page "/ResetPasswordConfirmation"

@inject IStringLocalizer<Resource> _localizer;
@inject NavigationManager _navigationManager
@layout LoginLayout

<link href="css/logincss.css" rel="stylesheet" />
<div class="container">
    <main role="main" class="pb-3">
        <div class="login-div">
            <div class="login-container">
                <div class="login-content">

                    <h1>@_localizer[LangKey.RESET_PASSWORD_CONFIRMATION_TITLE_RESET_PASSWORD_CONFIRMATION]</h1>
                    <p>
                        @_localizer[LangKey.RESET_PASSWORD_CONFIRMATION_MSG_YOUR_PASSWORD_HAS_BEEN_RESET]. @_localizer[LangKey.RESET_PASSWORD_CONFIRMATION_MSG_YOU_CAN] <a href="Login">@_localizer[LangKey.RESET_PASSWORD_CONFIRMATION_MSG_CLICK_HERE_TO_LOG_IN]</a>.
                    </p>
                </div>
            </div>
        </div>
    </main>
</div>