@inject IJSRuntime _jSRuntime

<div class="tooltip-wrapper">
    <span class="control-wrapper">
        @Control
        <span class="mytext">
            @ErrorMessage
        </span>
    </span>
</div>


