<td style="width:auto; max-width:@ColumnWidth" class="ellipsesColumn" title="@FieldValue">@FieldValue</td>

<style>
    .ellipsesColumn {
        display: block;
        border: none !important;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: unset !important;
    }
</style>